<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Culture vogue</title>
</head>
<body>
    <div class="terceira">
        <div class="logo" ><img src="/public/assets/images/logo.svg" alt=""></div>
        <div> 
            <h4>Welcome to our fashion magazine dedicated to New York's vibrant fashion scene! Get ready to explore the boldest and most innovative trends to emerge from the catwalks and streets of this iconic metropolis.</h4>
            <img src="/public/assets/images/capa da vogue.webp" alt="">
            <h3>From unusual bags to plush pieces, we'll delve into the creations presented throughout major Fashion Weeks, capturing the energy and originality that characterizes New York style.</h3>
    
            <img src="/public/assets/images/capa2.webp" alt="">
            <h3>From New York to Paris, via London and Milan, dive with us into the incredible creations presented at the main Fashion Weeks.</h3>
    
            <img src="/public/assets/images/capa3.jpg" alt="">
            <h3>Additionally, we will highlight brands that are leading the plus size movement with inclusive and authentic designs. Follow us on this journey through New York fashion and discover how a woman's strength in being whoever she wants is more important than ever!</h3>
        </div>

        <a href="index.html">Voltar</a>
    </div>

    
</body>
</html>


