<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index2.css">
    <title>Fashion</title>
</head>
<body>
    
    <div class="moda">
        <div class="layout">
            <img src="/public/assets/images/logo.svg" alt="">
        </div>
        

        <div class="fashion">
            <img src="/public/assets/images/foto 1.png" alt="">
            <img src="/public/assets/images/foto2.jpg" alt="">
            <img src="/public/assets/images/foto3.jpg" alt="">
            <img src="/public/assets/images/foto 4.jpg" alt="">
            <img src="/public/assets/images/foto5.jpg" alt="">
            <img src="/public/assets/images/foto6.jpg" alt="">
        </div>

       <div class="tabela">
        <table>
        <tr>
          <th>Imagem 1</th>
          <th>Imagem 2</th>
          <th>Imagem 3</th>
          <th>Imagem 4</th>
          <th>Imagem 5</th>
          <th>Imagem 6</th>
        </tr>
        <tr>
          <td>ModaLisboa For Good - “fazer o bem e fazê-lo bem”</td>
          <td>PFW | Models Off-Duty</td>
          <td>PFW outono/inverno 2024 | Em Paris, explora-se arte e artifício</td>
          <td>PFW Backstage | Lacoste</td>
          <td>LFW Backstage | Annie's Ibiza</td>
          <td>Spotted: as maiores tendências de street style na Semana de Moda de Copenhaga</td>
    
        </table> <br><br><br><br>
     </div>
        
        <a href="index.html">Voltar</a>
    </div>
</body>
</html>