<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index3.css">
    <title>Vogue club</title>
</head>
<body>
    <div class="logo_clube">

        <div class="clube">
            <img src="/public/assets/images/Vogue Club.webp" alt="">
        </div>

        <div class="clube2">
            <img src="/public/assets/images/clubefoto1.jpg" alt="">
            <img src="/public/assets/images/clubefoto2.jpg" alt="">
            <h1>Endereço:</h1>
            <h2>Rue Saint-Dominique, 101</h2>
            <h3>Agende seu horário: </h3>
            <input type="text">
            <a href="index.html">VOLTAR</a>
        </div>
    </div>
</body>
</html>